body {
    background-color: #a1b1c1;
    color: #000000;
    font-family: calibri, arial, sans-serif;
    font-size: 2em;
}
#ueberschrift {
font-weight: bold;
font-size: 1.8em;
text-align: center;
}
#autor {
    font-style: italic;
    text-align: center;

}
span.kursiv {
    font-style: italic;
    color: aliceblue;
}

.S{
    color: yellow;
}
.c{
    color: green;
}
.h{
    color: purple;
}
.n{
    color: blue;
}
.e{
    color: red;
}
.c2{
    color: aqua;
}
.k{
    color: yellowgreen;
}
.e2{
    color: peru;
}
#Haupttext{
    text-align: center;

}
#Schnecke_bild{
    text-align: center;
}
#Fatziet{
    color: red;
    text-align: center;
    font-size: small;
}
#Schnecke_bild2{
    text-align: center;
    font-size: small;
}